
.titulo{
	font-family: 'Roboto Condensed', sans-serif;
	color: #aba7a2;
}
.titulo2{
	color: #493E3E;
	font-family: 'Roboto Condensed', sans-serif;
}
.parrafo{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

.tam{
	font-size: 20px;
}

/*Menu de navegación*/
.navbar a{
	margin-top: 10px;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
}

/*Estilos para el separador 1*/


/*Estilos para ¿Quien soy?*/
#quien_soy{
	
}
#centrado{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid grey;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;
}

.tipo{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

/*Estilos para carousel*/
#carouselExampleIndicators{
	margin-top: 15px;
}

/*Estilos para clientes en escala de grises*/
.filtro{
	filter: grayscale(100%);
}

/*Estilos para iconos de redes sociales*/
.iconos{
	color: white;
}

/*Estilos para los derechos reservados*/
#copyright{
	font-size: 18px;
	color: white;
	margin-top: 20px;
}

/*Media queries para logo*/
@media (max-width: 425px){
	.navbar-brand{
		margin-bottom: 15px;
	}
}
@media (min-width: 425px) and (max-width: 426px){
	.navbar-brand{
		margin-left: 20px;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 768px){
	.navbar-brand{
		margin-left: 200px;
	}
}

/*Media queries para menu de navegación*/
@media(min-width: 1024px){
	#listadenavegacion{
		margin-left: 50px;
	}
}
@media(max-width: 320px){
	#logoChris{
		width: 250px;
		height: auto;
		margin-left: 15px;
		margin-bottom: 35px;
	}
}
@media(min-width: 375px) and (max-width: 376px){
	#logoChris{
		margin-bottom: 35px;
		margin-left: 35px;
		width: 270px;
		height: auto;
	}
}
@media(min-width: 425px) and (max-width: 426px){
	#logoChris{
		width: 250px;
		margin-right: 30px;
	}
}

/*HASTA AQUI, ESTILOS PARA INDEX*/

/*AQUI COMIENZAN LOS ESTILOS PARA QUIEN SOY*/



/*ESTILOS PARA ENTRENAMIENTO*/

.acordeon{
	color: #493E3E;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px

}
.conte{
	font-family: 'Roboto Condensed', sans-serif;
	color: #aba7a2;
	font-size: 20px;
}